#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form .form-check {
  display: block;
}

form button {
  margin-left: 0.5rem;
}

table {
  font-size: small;
}

th {
  position: sticky;
  top: 0;
}

.name-cell {
  position: sticky;
  left: 0;
}

.bi-gender-male {
  color: blue;
}

.bi-gender-female {
  color: red;
}
