#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.table_vp {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

table {

  font-size: small;
}

th {
  position: sticky;
  top: 0;
}

.name-cell {
  position: sticky;
  left: 0;
}

.bi-gender-male {
  color: blue;
}

.bi-gender-female {
  color: red;
}
